@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.woff) format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Medium.woff) format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Bold.woff) format('woff');
    font-style: normal;
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #170C04;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.btn-icon {
    background-color: transparent;
    border: none;
    font-size: 18px;
    line-height: 1;
    font-family: 'Roboto';
    padding: 0;
    cursor: pointer;
    transition: all .3s;
}

.btn {
    font-family: 'Roboto';
    font-size: 16px;
    color: #fff;
    border: 1px solid #E27B3A;
    background-color: #E27B3A;
    border-radius: 24px;
    transition: all .3s;
    padding: 11px 30px;
    cursor: pointer;
    display: block;
}

.btn:hover {
    background-color: transparent;
    color: #E27B3A;
}

.btn-ghost {
    background-color: transparent;
    color: #E27B3A;
    border: 1px solid rgba(226, 123, 58, .15);
}

.btn-ghost:hover {
    background-color: rgba(226, 123, 58, .15);
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}

.heading {
    min-height: 100vh;
}

.header-wrap {
    padding: 31px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.18;
    color: #000;
    text-transform: uppercase;
}

.header-logo img {
    max-width: 36px;
    max-height: 39px;
    width: auto;
    height: auto;
}

.header-logo span {
    margin-left: 5px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 0 27px;
}

.nav-link {
    color: #170C04;
    line-height: 1.19;
}

.nav-link:hover {
    color: #E27B3A;
}

.actions-list {
    display: flex;
    align-items: center;
    margin: 0 -20px;
}

.action-item {
    padding: 0 20px;
}

.action-item .btn-icon:hover {
    color: #E27B3A;
}

.hero-wrap {
    min-height: calc(100vh - 101px);
    display: flex;
    align-items: center;
    padding: 30px 0;
    position: relative;
}

.hero-box {
    position: relative;
    z-index: 2;
}

.hero-decor-img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 50%;
}

.hero-title {
    font-family: 'Poppins';
    font-size: 100px;
    font-weight: 700;
    line-height: 1.2;
    max-width: 613px;
    margin-bottom: 80px;
}

.hero-btns {
    display: flex;
    align-items: center;
    padding: 0 -10px;
}

.hero-btn {
    padding: 0 10px;
}

.action-item-menu {
    display: none;
}

.product-details {
    padding-top: 132px;
    padding-bottom: 118px;
}

.details-cards-wrap {
    display: flex;
    margin: 0 -15px;
}

.details-box {
    padding: 0 15px;
    width: 33.33%;
}

.details-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px 25px 18px;
    text-align: center;
    position: relative;
}

.details-card:hover,
.details-card:focus {
    box-shadow: 0px 1px 3px rgba(235, 101, 23, 0.12), 0px 1px 1px rgba(221, 120, 26, 0.14), 0px 2px 1px rgba(240, 80, 17, 0.2);
}

.top-decor {
    width: 63px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -31.5px;
    padding: 8px;
}

.top-decor-1 {
    background-image: url(../img/bg-decor-info-1.svg);
}

.top-decor-2 {
    background-image: url(../img/bg-decor-info-2.svg);
}

.top-decor-3 {
    background-image: url(../img/bg-decor-info-3.svg);
}

.top-decor img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.details-title {
    font-family: 'Poppins';
    padding: 11px;
    font-size: 25px;
    display: block;
}

.info-product-text {
    opacity: 0.6;
    padding-bottom: 24px;
}

.details-link {
    color: #E27B3A;
}


/* -------Popular-products------- */

.popular-products {}

.popular-title {
    font-family: 'Poppins';
    font-weight: 500;
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 505px;
    padding-bottom: 18px;
    font-size: 32.25px;
    line-height: 1.5;
}

.popular-info {
    display: block;
    text-align: center;
    max-width: 505px;
    margin: 0 auto;
    padding-bottom: 25px;
    font-size: 16px;
    opacity: 0.6;
}

.popular-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 66px;
}

.popular-box-1 {
    width: 555px;
    height: 420px;
    padding: 71px 91px 71px 91px;
    margin-right: 30px;
    border: 2px solid;
    border-color: #FCF2EB;
    border-radius: 5px;
    margin-bottom: 25px;
}

.popular-box-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 273px;
    border: 2px solid;
    border-color: #FCF2EB;
    border-radius: 5px;
    margin-bottom: 25px;
}

.popular-description {
    text-align: center;
}

.popular-link {
    color: #E27B3A;
}

.popular-cards-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 46px;
}

.popular-item+.popular-item {
    margin-left: 30px;
}

.popular-btn {
    width: 185px;
    height: 48px;
    background-color: transparent;
    color: #E27B3A;
    border: 1px solid rgba(226, 123, 58, .15);
    text-align: center;
}

.popular-btn:hover {
    background-color: rgba(226, 123, 58, .15);
}